.metadata
*.avi
*.mov
*.pyc
android/RaconteurApp/.classpath
android/RaconteurApp/.project
android/RaconteurApp/.settings/
android/RaconteurApp/bin/
android/RaconteurApp/default.properties
android/RaconteurApp/gen/
android/RaconteurApp/res/
android/RaconteurApp/lib/
desktop/.project
desktop/.pydevproject
desktop/.settings/
